<div class="sidebar-container">
  <div class="links-wrapper">
    <div>
      <%= link_to 'Manage products', manage_items_path %>
    </div>
      <div>
      <p>Manage discounts</p>
    </div>
      <div>
      <p>My orders</p>
    </div>
  </div>
</div>
